<p>
  [[<a href="[% c.uri_for_action('/admin/article/create') %]">Create</a>]]
  [[<a href="[% c.uri_for_action('/admin/article/list') %]">Articles</a>]]
  [[<a href="[% c.uri_for_action('/admin/user/list') %]">Users</a>]]
  [[<a href="[% c.uri_for_action('/admin/tag/list') %]">Tags</a>]]
  [[<a href="[% c.uri_for_action('/admin/page/list') %]">Pages</a>]]
  [[<a href="[% c.uri_for_action('/admin/link/list') %]">Links</a>]]
</p>
