<h2>Meta</h2>
<ul>
[% IF c.user %]
<li><span>Logged in as: [% c.user.username %]</span></li>
<li><a href="/admin">Site-Admin</a></li>
<li><a href="/logout">Logout</a></li>
[% ELSE %]
<li><a href="/admin">Login</a></li>
[% END %]
</ul>
