<div id="sidebar">
	[% PROCESS 'shared/search_list.tt' %]
	[% PROCESS 'shared/calendar_list.tt' %]
	[% PROCESS 'shared/tags_list.tt' %]
	[% PROCESS 'shared/archives_list.tt' %]
	[% PROCESS 'shared/links_list.tt' %]
	[% PROCESS 'shared/feed_list.tt' %]
	[% PROCESS 'shared/login_list.tt' %]
</div>
